<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div>
        <img src="../assets/icon/home.png" alt="logo-image" style="width: 40px;">
        <label>Con</label>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card class="ion-padding">
    <ion-grid>
      <ion-row>
        <br>
      </ion-row>
      <ion-row size="2">
        <ion-col size="4" offset="4"><a [routerLink]="['/search']">
            <img src="../assets/icon/add_device.png" alt="logo-image"></a>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card-content>
      <ion-card-title>
        <ion-grid>
          <ion-row>
            <ion-col style="text-align:center;font-size: 15px;">
              Add a Smart Device
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-title>
      <!-- <p style="text-align:center;font-size: 10px;">
        You have no Smart Devices configured to your account.
      </p> -->
    </ion-card-content>
  </ion-card>


  <ion-card *ngIf="Devices.length>0">
    <ion-list *ngFor="let d of Devices">
      <ion-item-sliding (ionSwipe)="DeleteDevice(d)">
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col size="2" (click)="DeviceClicked()">
                <!-- <ion-icon name="nuclear" size="large"></ion-icon> -->
                <img src="../assets/icon/{{d.DeviceImage}}" style="width:32px;margin-left: -5px;">
              </ion-col>
              <ion-col size="8" (click)="DeviceClicked(d)" style="text-align: left;margin-left:-12px;margin-top: 5px;">
                <b>{{d.Name}} </b>
              </ion-col>
              <ion-col size="2" style="text-align: right;">
                <ion-toggle [disabled]="!d.IsOnline" color="primary" [(ngModel)]="d.IsOn"
                  (ionChange)="DeviceOnClicked(d)"></ion-toggle>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col style="text-align: center;">

                <span *ngIf="!d.IsOnline" style="color: red;font-weight:bold;">Offline</span>
                <span *ngIf="d.IsOnline" style="color: green;font-weight: bold;">Online</span>

                <ion-range *ngIf="d.Category=='cooler'" [disabled]="!d.IsOn || !d.IsOnline" [(ngModel)]="d.rangevalue"
                  min="1" max="3" step="1" snaps="true" pin="true" (ionChange)="SpeedChanged(d)">

                  <ion-icon size="small" slot="start" name="speedometer-outline"></ion-icon>
                  <ion-icon slot="end" name="speedometer-outline"></ion-icon>

                </ion-range>

                <ion-range *ngIf="d.Category!='cooler'" [disabled]="!d.IsOn || !d.IsOnline" [(ngModel)]="d.rangevalue"
                  min="1" max="5" step="1" snaps="true" pin="true" (ionChange)="SpeedChanged(d)">

                  <ion-icon size="small" slot="start" name="speedometer-outline"></ion-icon>
                  <ion-icon slot="end" name="speedometer-outline"></ion-icon>

                </ion-range>

              </ion-col>
            </ion-row>
          </ion-grid>


        </ion-item>
        <ion-item-options>
          <!-- <ion-icon name="trash" size="large"></ion-icon> -->
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <!-- </ion-card-content> -->
  </ion-card>
</ion-content>
<ion-menu side="end" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar>
      <ion-icon style="width: 30px;height: 30px;padding-left: 10px;" (click)="MenuCloseButtonClicked()" name="arrow-forward-outline"></ion-icon>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-row>
      <ion-col>
        <div style="text-align: center;padding-top: 30px;padding-bottom: 10px;"><img src="../assets/icon/lg.png"
            style="width: 60px;">
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div style="text-align: center;">
          {{UserEmail}}
        </div>
      </ion-col>
    </ion-row>
    <br>
    <ion-list>
      <ion-item *ngIf="!IsLoggedIn" (click)="LoginRegisterClicked()">
        <ion-avatar slot="start">
          <ion-icon style="width: 43px;height: 35px;padding-top: 4px;" name="log-in-outline"></ion-icon>
        </ion-avatar>
        <ion-label>Login/Register</ion-label>
      </ion-item>
      <ion-item *ngIf="IsLoggedIn" (click)="LogoutClicked()">
        <ion-avatar slot="start">
          <ion-icon style="width: 35px;height: 32px;padding-top: 4px;padding-left: 10px;" name="log-out-outline">
          </ion-icon>
        </ion-avatar>
        <ion-label>Logout</ion-label>
      </ion-item>
    </ion-list>
    <span style="bottom: 20px;position: fixed;right: 10px;font-size: 13px;">Designed & Developed by MRCon@2021</span>
  </ion-content>
</ion-menu>